html, body{margin:0px; padding:0px;}
body {
    font-family: 'Bentham', serif;
    font-size: 24px;
    display: flex;
    flex-flow: column;
    height: 100vh;
}
.top-bar {

    background: #2C3E50;
}
.container {
    padding: 20px 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.navbar-item {
    padding: 15px;
    color: white;
    font-size: 32px;
}
.item-2 {
    float: right;
    text-align: center;
}
.main {
    padding: .75em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    overflow: scroll;
}
.name {
    font-size: 2em;
    color: white;
}
.description {
    font-size: 1em;
    margin: 0;
}
.navbar-item:hover {
    background: #dedede;
    color: black;
}

a {
    color: inherit;
}
a:link {
    text-decoration: none;
}
.footer {
    height: 60px;
    flex: 0 0 content;
    align-items: flex-end;
    background-color: #2C3E50;
    color: white;
    text-align: center;
}
