html, body{margin:0px; padding:0px;}
body {
    font-family: 'Bentham', serif;
    font-size: 24px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.top-bar {

    background: #2C3E50;
}
.container {
    padding: 20px 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.navbar-item {
    padding: 15px;
    color: white;
    font-size: 32px;
}
.item-2 {
    float: right;
    text-align: center;
}
.main {
    padding: .75em;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.name {
    font-size: 2em;
    color: white;
}
.description {
    font-size: 1em;
    margin: 0;
}
.navbar-item:hover {
    background: #dedede;
    color: black;
}
p {
    text-align: center;
}

a {
    color: inherit;
}
a:link {
    text-decoration: none;
}
.box {
    width:275px;
    height: 250px;
}