html, body{margin:0px; padding:0px;}
body {
    font-family: 'Bentham', serif;
    font-size: 24px;
    display: flex;
    flex-flow: column;
    height: 100vh;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
.top-bar {

    background: #2C3E50;
}
.container {
    padding: 20px 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex: 0 0 content;
}
.navbar-item {
    padding: 15px;
    color: white;
    font-size: 32px;

}
.item-2 {
    float: right;
    text-align: center;
}
.main {
    padding: .75em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    overflow: scroll;

}
.name {
    font-size: 2em;
    color: white;
}
.description {
    font-size: 1em;
    margin: 0;
}
.navbar-item:hover {
    background: #dedede;
    color: black;
}
p {
    text-align: center;
}

a {
    color: inherit;
}
a:link {
    text-decoration: none;
}
.box {
    width:275px;
    height: 250px;
    margin: 10px;
}
.footer {
    flex: 0 0 content;
    align-items: flex-end;
    background-color: #2C3E50;
    color: white;
    text-align: center;
}
.icons {

    justify-content: flex-end;
}

@media screen and (max-width: 866px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

}