html, body{margin:0px; padding:0px;}
body {
    font-family: 'Bentham', serif;
    font-size: 24px;
}
.top-bar {
    width: 100%;
    background: #2C3E50;
}
.container {
    padding: 20px 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.navbar-item {
    padding: 15px;
    color: white;
    font-size: 32px;
}
.item-2 {
    float: right;
    text-align: center;
}
.main {
    padding: .75em;
    text-align: center;
}
.name {
    font-size: 2em;
    color: white;
}
.description {
    font-size: 1em;
    margin: 0;
}
.navbar-item:hover {
    background: #dedede;
    color: black;
}

a {
    color: inherit;
}
a:link {
    text-decoration: none;
}